header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 15vh;
    background-color: darkslateblue;
    font-size: 0.7rem;
}