footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 10vh;
    background-color: darkslateblue;
    text-align: center;
}